@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  /*  body{
      
        background-image: url('../img/pattern.png');
        
    }*/

    /*FUENTES*/
    @font-face{
        font-family: "TrebuchetMS";
        src: url('fonts/TrebuchetMS.ttf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face{
        font-family: "BebasNeue";
        src: url('fonts/BebasNeue.otf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face{
        font-family: "WebSymbolsRegular";
        src: url('fonts/websymbols-regular-webfont.eot');
        src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('fonts/websymbols-regular-webfont.woff') format('woff'),
            url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
            url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    .symbol{
        font-family: "WebSymbolsRegular";
    }

    .bebas{
        font-family: "BebasNeue";

    }

    .trebuchet{
        font-family: "TrebuchetMS";
    }


}

@layer components{
        .menu-item{
            @apply mr-5 ml-5 tracking-wider flex-none xs:flex-1
        }
        .menu-item-a{
            @apply block transition duration-200 hover:text-azul-claro transform hover:scale-125
        }

        
        .text-banner{
            font-family: "BebasNeue";
            text-shadow: 2px 2px 1px black;
        }

        .card{
            @apply
            flex-1 h-80 border-2 border-gray-200 shadow-md bg-white
            overflow-hidden m-5 mt-10 pl-5  pr-5 cursor-pointer transition duration-300
            ;
        }

        .card-icon{
            font-family:"WebSymbolsRegular";
            @apply
                block w-full h-32 text-5xl text-center mt-12
                mx-auto transition duration-300

            ;
        }
}